
<div class="col-10" style="margin: 0 auto;">
  <div *ngIf="isBookBorrowed; then successMessage"></div>
  <ng-template #successMessage>
      <div class="alert alert-success"><strong>Success!</strong> Book added to your list successfully.</div>
  </ng-template>
  <div style="text-align: right; margin-bottom: 5px;">
</div>
  
<div class="row">
  <div class="col-3 text-right">
    <img [src]="book.thumbnailUrl" style="margin-bottom:10px" /><hr>
    <button (click)="borrowBook(book._id, currentStudentTest)" class="btn btn-primary">Add to list</button>
  </div>

  <div class="col">
    <!-- BOOK INFO -->
    <h3>{{book.title}}</h3>
    <p><strong>Categories: </strong>{{book.categories}}</p>
    <p><strong>Authors: </strong>{{book.authors}}</p>
    <p>
      <strong>Published: </strong>{{book.publishedDate | date:'longDate'}}
      <strong>Pages: </strong>{{book.pageCount}}
      <strong>ISBN: </strong>{{book.isbn}}
    </p>
    <p><strong>Description: </strong> {{book.longDescription}}</p>
  
    <!-- REVIEWS -->
    <div *ngIf="reviews.length > 0; then bookReviews"></div>
    <ng-template #bookReviews>
      <div class="review-container">
        <h5 class="text-primary">Reviews</h5>
        <div *ngFor="let r of reviews" class="border-top rv-box">
          <p class="rv-title">{{r.title}}</p>
          <p class="badge badge-info">{{r.date | date:'longDate'}}</p>
          <p class="badge badge-default">by {{r.student.firstName}} {{r.student.lastName}}</p>
          <p>{{r.longText}}</p>
        </div>
      </div>
    </ng-template>

  </div>

</div>
