<div class="row">
    <div class="col-sm-3">
        <h3>Glacy Maria da Silva Leitao</h3>
        <div class="rounded alert-info p-2">
            <strong>Program:</strong> Computer Programmer <br/>
            <strong>Campus:</strong> York University | 
            <strong>ID:</strong> 148300171
        </div>
    </div>
    <div class="col-sm-9">
        <h3>Your Books</h3>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Borrowed Date</th>
                        <th>Back Date</th>
                        <th>Placed Hold</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Java Persistence with Hibernate</td>
                        <td>02/06/2020</td>
                        <td>10/06/2020</td>
                        <td><button class="btn btn-danger">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>jQuery in Action</td>
                        <td>02/06/2020</td>
                        <td>10/06/2020</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Building Secure and Reliable Network Applications</td>
                        <td>02/06/2020</td>
                        <td>10/06/2020</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>