
<div class="col-10" style="margin: 0 auto;">
    <div *ngIf="isBookCancel; then cancelMessage"></div>
    <ng-template #cancelMessage>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> The book has been cancelled.
        </div>
    </ng-template>
    
<div class="row">
    <div class="col">
    <h3>Your Books</h3>
        <table class="table">
            <tr *ngFor="let your of yourBooks">
                <td>
                    <img [src]="your.book.thumbnailUrl" 
                        [routerLink]="['/book-info', your.book._id]" 
                        width="40px" 
                        style="cursor: pointer;">
                </td>
                <td>
                    <a [routerLink]="['/book-info', your.book._id]">{{your.book.title}}</a><br>
                    <span class="badge badge-light">{{your.book.categories}}</span>
                </td>
                <td>
                    {{your.borrowedDate | date:'longDate'}}<br>
                    <span class="badge badge-light">Borrowed</span>
                </td>
                <td>
                    <button type="button" 
                        class="btn btn-primary btn-sm" 
                        data-toggle="modal" 
                        [attr.data-target]="'#review-form-modal-'+your.book._id">Add Review
                    </button>&nbsp;
                    <button type="button" 
                        class="btn btn-warning btn-sm" 
                        (click)="cancelBook(your._id)">Cancel
                    </button>
                </td>
                <div class="modal" id="review-form-modal-{{your.book._id}}">
                    <app-review-add 
                        [attr.modal]="'review-form-modal-'+your.book._id"
                        [bookId]="your.book._id" 
                        [studentId]="your.student._id">
                    </app-review-add>
                </div>
            </tr>
        </table>
    </div>
</div>
</div>
